.box{
    border: 2px solid black ;
    height: fit-content;
    width: fit-content;
    padding: 0.5cm;
    background-color: rgb(3, 49, 67);
}
h3{
    color:rgb(23, 176, 237);
}
#b1, #b2, #b3, #b4, #b5, #b6{
    background-color: rgb(10, 9, 9);
    color: aliceblue;
}
#button{
    border: 2px solid black;
    background-color: black;
    color: aliceblue;
}